body {
  background-color: black;
}
.div1 {
  width: 100%;
  height: 200px;
  background-color: #077f8a;
}
.divone {
  color: white;
  padding-left: 38%;
  padding-right: 38%;
  padding-top: 4%;
}
.div2 {
  background-color: white;
  height: 250px;
  margin-top: -20px;
  text-align: center;
}
.div2_1 {
  padding-left: 37%;
  padding-right: 32%;
  padding-top: 4%;
}
.div2_2 {
  padding-left: 38%;
  padding-right: 34%;
}
.div3 {
  background-color: #073236;
  height: 200px;
  padding-left: 25%;
  padding-top: 10px;
  padding-right: 21%;
}
.div3_1 {
  float: left;
  color: white;
  margin-right: 20px;
  text-align: center;
}
.div3_2 {
  float: left;
  color: white;
  text-align: center;
  margin-right: 20px;
}
.div3_3 {
  color: white;
  text-align: center;
}
