body {
  background-color: aqua;
}
.title {
  padding-left: auto;
  padding-right: auto;
  padding-top: 20px;
  color: black;
  text-align: center;
}
.Application {
  width: 50%;
  height: 600px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}
.form {
  padding-left: 4%;
}
.buttonn {
  margin-left: 50%;
  margin-bottom: -40px;
}

.button:hover {
  background-color: blue;
}
